{% extends 'base.html' %}
{% load static %}
{% block title %} About Page {% endblock %}

{% block content %}
<div class="bg-image p-5 p-5 text-center shadow-1-strong rounded mb-5 text-black"
    style="background-image: url('https://res.cloudinary.com/dhz8l5b2j/image/upload/v1703023908/static/images/tuscany.433ec4986408.jpg');">
    <div class="container flex-column pt-3">
        <section class="text-center">
            <h1 class="main-title mx-auto text-white">About Us</h1>
            <p class="pt-4 text-white">Welcome the Heavenly Wines and come on a journey to discover the worlds of wine. 
                You can become a connoisseur of fine wines by each week adding your story on the wines different wines and
                your experience on the wine or maybe look to other reviews with like minded people. 
                Our goals is to give the best opinions on different wines to our members and to give the freedom to enjoy and express themselves.
            </p>
        </section>
        <section>
            <div class="wine-cont">
                {% for wine in wines %}
                <a href="{% url 'wine_detail' wine.id %}" class="img-container">
                    <img src="{{wine.image.url}}" alt="{{wine.image_alt}}" style="width: 100%">
                    <div class="centered"><h2>{{wine.title}}</h2></div>
                </a>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}