{% extends "base.html" %}
{% load static %}
{% block title %}Add Wine{% endblock %} 

{% block content %}
<div class="bg-image bg-image p-5 text-center shadow-1-strong rounded mb-5 text-black" 
style="background-image: url('https://res.cloudinary.com/dhz8l5b2j/image/upload/v1703023902/static/images/avaline.62f412366cc8.jpg');">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Add Wine</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Add Wine</button>
        </div>
    </form> 
</div>
{% endblock %}